<div id="chart">  
  
    <span>x-axis :</span> <span id ="tex">season  </span>  &nbsp; &nbsp;  <span> y-axis :</span> <span id ="tex"> minutes in shade <br/>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (Summer max: 720 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fall max :540&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; winter max :360)</span>
<figure id="bar"></figure>
<!-- <div id="my_dataviz"></div> -->
    <!-- <h3> {{this.pixelObj.l1.r + this.pixelObj.l1.b + this.pixelObj.l1.g }}</h3>  <h3> {{pixelObj.l2.r}} {{pixelObj.l2.g }} {{pixelObj.l2.b}}</h3>  {{pixelObj.l3.r}} {{pixelObj.l3.g }} {{pixelObj.l3.b}} -->

</div>