<div id="map"> 
 <app-chart [season] = "season" [pixelObj] = "pixelObj" [map] = "map"> </app-chart>
<div id="ol-map" class="map-container"> <div id = "buttonABS" class="buttonABS"> <button id = "b1" (click) = "changeSeason(-1)">All Seasons</button>  <br/> <button id = "b2" (click) = "changeSeason(0)">Season 1 SUMMER</button>  <br/> <button id = "b3" (click) = "changeSeason(1)"> Season 2 FALL</button> <br/> <button id = "b4" (click) = "changeSeason(2)"> Season 3 WINTER</button> </div></div>
</div>