#map {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#buttonABS {
    position: absolute;
    right: 0;
    z-index: 2;
    top: 0;
    bottom: 0
}

button {
   padding: 12px;
   border-radius: 5px;
   margin: 10px;
   width: 200px;
   font-weight: bolder;
   font-size: 17px;
    text-align: left;
}

app-chart { 
    position: absolute;
    z-index:3;
    bottom: 0;
    right:0;
    padding: 12px;
    margin: 10px;

}

:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background-color: var(--header-color);
    padding: 2em;
}
header .title {
    font-size: 28px;
}
main {
    display: flex;
    flex-grow: 1;
}
.left-bar {
    width: 20em;
    background-color: var(--sidebar-color);
}
.map-container {
    height: 100%;
    width: 100%;
    flex-grow: 1;
}
footer {
    background-color: var(--header-color);
    padding: 1em;
}
